<configuration scan="true" scanPeriod="2 seconds">
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <File>config-admin-rcp-logback.log</File>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="FILE" />
  </root>
</configuration>